<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="automatController" class="no.java.beerduke.control.AutomatController">
		<constructor-arg value="10" />
	</bean>

	<bean id="rfIdReader" class="no.java.beerduke.rfid.RfIdReader">
		<constructor-arg ref="automatController" />
		<constructor-arg value="webapps/persons.csv"></constructor-arg>
	</bean>
	<!-- web context -->

</beans>